/* .container {
  font-family: Arial, sans-serif;
  padding: 20px;
}

.colors,
.sizes {
  margin-bottom: 20px;
}





.sizes p,
.colors p {
  margin-bottom: 10px;
}

.sizeOption {
  display: inline-block;
  margin-right: 10px;
  padding: 5px 10px;
  border: 1px solid #ddd;
  border-radius: 15px;
  cursor: pointer;
}

.selectedSize {
  background-color: #000;
  color: #fff;
}

.quantity {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.quantity button {
  width: 30px;
  height: 30px;
  background-color: #ddd;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.quantity input {
  width: 50px;
  text-align: center;
  margin: 0 10px;
  border-top-left-radius: ;
}

.addToCartButton {
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
} */